==
<?php
use vadim\products\models\Prod;

function onStart() {
 $products = Prod::get();
 $this['products'] =$products;
//    $this['services'] = [
//        ['id' => 'service-1', 'icon' => 'fa-file-code-o'  , 'title' => 'ЖЕНЩИНА-БРИЛЛИАНТ (1-3 мес)'  , 'caption' => '
//• Реализовывать свои цели и мечты 
//• Раскрыть свою женскую энергию и стать более женственной 
//• Говорить с мужчинами так, чтобы они научились Вас слышать и поддерживать 
//и многое др.'],
//        ['id' => 'service-2', 'icon' => 'fa-paper-plane-o', 'title' => 'HTML5 CSS3'  , 'caption' => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet adipscing.'],
 //       ['id' => 'service-3', 'icon' => 'fa-institution'  , 'title' => 'Web Design'  , 'caption' => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet adipscing.'],
  //      ['id' => 'service-4', 'icon' => 'fa-flask'        , 'title' => 'Mobile Ready', 'caption' => 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet adipscing.'],
  //  ];

}
?>
==
<div class="content-section" id="services">
    <div class="container">

        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Консультации и практики</h2>
                <p>Возможности рядом. Протяните руку.</p>
            </div>
        </div>

        <div class="row">
        {% for product in products %}
        
            <div class="col-md-3 col-sm-6">
                <a href="/product/{{product.slug}}">
                <div class="service-item" id="service-{{product.pcolor}}">
                    <div class="service-icon">
                        <i class="fa fa-file-code-o"></i>
                    </div>
                    <div class="service-content">
                        <div class="inner-service">
                           <h3>{{ product.pname }}</h3>
                           <p>{{ product.pdescription}}</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>

    </div>
</div>